{% extends "index.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <center><h1>Welcome, {{ current_user.username }}!</h1></center>  
</div>
<h5><a href="{{ url_for('logout') }}">Log Out</a></h5><br>
<h3>My Saved Results:</h3>
{% for prompt in userPrompts%}
    <hr>
    {% for key, value in prompt.items() %}
        {% if key == 'Search' %}
            <p> </p>
        {% else %}
            <p>{{ key }}: {{ value }}</p>
        {% endif %}
    {% endfor %} 
        <form action="{{ url_for('delete', id=prompt["Search"]) }}">
        <button class='deletebutton'; type="submit">Delete</button>
        </form>
{% endfor %} 
<hr>
<center><h4><a href="{{ url_for('hello') }}">Back to Prompt Submission</a></h4></center>
{% endblock %}