{% extends "index.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">LLM Processing</h1>
      <p class="lead">Compare LLM Responses Using NLP and Sentiment Analysis</p>
    </div>
</div>
<div id="inputform">
    <!-- <form method="post" action="#">
        <div id="prompt">
        <label>Enter Prompt</label>
        </div>
        <textarea class="form-control" name="in" value="{{ request.form['in'] }}" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="submit" class="btn btn-outline-success btn-block">Submit Prompt</button>
    </form> -->
    <form action="/result" method="post">
        <div id="prompt">
        <label>Enter Prompt</label>
        </div>
        <textarea class="form-control" name="in" value="{{ request.form['in'] }}" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="submit" class="btn btn-outline-success btn-block">Submit Prompt</button>
    </form>
</div>
{% endblock %}