<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>FlaskApp</title>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #3da975;">
        <a class="navbar-brand" href="{{ url_for('hello') }}">Home</a>
        <a class="navbar-brand" href="#">Dashboard</a>
        <a class="navbar-brand" href="{{ url_for('login') }}">Sign Up/Log In</a>
    </nav>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>