{% extends "index.html" %}

{% block content %}

<br>
Sign in with your username and password. <br><br>
<input autocomplete="off" name="username" placeholder="username" type="text"> <br>
<input autocomplete="off" name="password" placeholder="password" type="text"> <br><br>

If you're new, create a username and password! <br><br>
<input autocomplete="off" name="username" placeholder="username" type="text"> <br>
<input autocomplete="off" name="password" placeholder="password" type="text"> <br>

{% endblock %}