{% extends "index.html" %}

{% block content %}

<center>
<br>
Sign in with your username and password. <br><br>
<input autocomplete="off" name="username" placeholder="username" type="text"> <br>
<input autocomplete="off" name="password" placeholder="password" type="text"> <br><br>
<button type="submit">Submit</button><br><br>

If you're new, create a username and password! <br><br>
<input autocomplete="off" name="username" placeholder="username" type="text"> <br>
<input autocomplete="off" name="password" placeholder="password" type="text"> <br><br>
<button type="submt">Submit</button>
</center>

{% endblock %}