{% extends "index.html" %}

{% block content %}

<center>
<br>
Log in with your username and password. <br><br>
<form action="/dashboard" method="post">
<input autocomplete="off" name="username_check" placeholder="Username" type="text"> <br>
<input autocomplete="off" name="password_check" placeholder="Password" type="text"> <br><br>
<button type="submit">Log In</button><br><br>
</form>

If you're new, create a username and password! <br><br>
<form action="/dashboard" method="post">
<input autocomplete="off" name="username" placeholder="Username" type="text"> <br>
<input autocomplete="off" name="password" placeholder="Password" type="text"> <br><br>
<button type="submit">Create Your Account!</button>
</form>
</center>

{% endblock %}