h1 { 
    color: #3da975; 
    font-weight: bold; 
    } 

h2 {
    color: #3da975;
}

h3 {
    color: #3b7e7c;
}

hr {
    border-width: 3px;
    border-color: #3da975;
}

.flex-container {
    display: flex;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    }

.left-content {
    display: flex;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 40%
    }

.right-content {
    display: flex;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 55%
    }

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inputform {
    width: 65%;
    margin: auto
}

#prompt {
    text-align: center;
    font-size: large;
}

#rprompt {
    text-align: center;
    font-size: large;
    padding-top: 25px;
    font-weight: bold;
}

.deletebutton {
    border: none;
    background-color: rgb(239, 166, 88);
}

#savebutton {
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
